// Place all the styles related to the Task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert.alert-info {
    margin-top: 15px;
    padding-left: 23px;
    margin-left: 10px;
}
.card-footer {
    margin-left: -17px;
}
.has-srch {
    margin-left: -5px;
}
.sub_btn{
	background-color: #343A40
}
.error_class{
	color: red
}
.dblock{
	color: white
}

.align{
	display: flow-root;
}
.modal-backdrop
{
    opacity:0.5 !important;
}
p.text_align {
    text-align: center;
}
fieldset {
    text-align: center;
}
.cur_ptr{
  background-color: green; width: 15px; cursor: pointer;
}
.booked_seat{
  background-color: red
}
.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    margin-top: 15px;
    margin-right: -7px;
}

.small-box>.inner {
    padding: 48px;
}
ul.navbar-nav {
    padding-left: 1082px;
    float: right;
}
.user_entry{
    text-align: center
}