<tr>
  <td height="0" width="600" align="center" style="background-color:#FFFFFF;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="content_wrap" width="100%">
      <tbody>
      <tr>
        <td width="100%" align="center">
          <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="content_wrap">
            <tbody>
            <tr>
              <td align="center">
                <table class="credit" border="0" cellspacing="0" cellpadding="0" align="left" width="100%">
                  <tbody>
                  <tr>
                    <td class="hidden">&nbsp;</td>
                    <td style=" font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#333333; padding-bottom:15px" align="left">Dear User,
                    </td>
                    <td class="hidden">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="25" class="hidden">&nbsp;</td>
                    <td style="font-family:Arial, Helvetica, sans-serif; font-size:24px;color:#48274f;font-weight:bold;padding-bottom:8px" align="left">
                      This is a reminder email for your task completion.
                    </td>
                    <td width="25" class="hidden">&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="hidden">&nbsp;</td>
                    <td height="30"></td>
                    <td class="hidden">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="25" class="hidden">&nbsp;</td>
                    <td style="font-family:Arial, Helvetica, sans-serif; font-size:16px;line-height:26px;color:#676767;padding-bottom:8px;" align="center">
                        The status of task named <b><%= @task_hash["task_name"].upcase%></b> is in <b><%= @task_hash["task_status"]%></b> state. Kindly complete it before  <b><%= @task_hash["task_deadline"]%></b>.                        
                    </td>
                    <td width="25" class="hidden">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="25" class="hidden">&nbsp;</td>
                    <td></td>
                    <td width="25" class="hidden">&nbsp;</td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table></td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>